
@font-face {
    font-family: 'FontSamim';
    src: url('./font/Samim.woff') format('woff');
    src: url('./font/Samim.woff2') format('woff2');
    font-weight: normal;
}

body{
    font-family: 'FontSamim';
    
}